/* ---- Roboto fonts (from google fonts) ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

/* ------Header section Start------ */
.header{
    background: #2874f0;
    padding: .6% 0;
}



nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    width: 7%;
    margin-right: 1%;
}
.logo-image{
    width: 75px;
    margin-bottom: -5%;
}

.logo .explore-plus{
    font-size: 11px ;
    font-style: italic;
    color: white;
    text-decoration: none;    
}
.logo .explore-plus span{
    margin-right: 5%;
    color:#ffe500 ;
}
.search-bar{
    width: 45%;
    display: flex;
    margin-right: 5%;
}
.search-bar input{
    width: 92%;
    padding: 1.8% 2%;
    border:none;
    outline: none;
}
.search-btn{
    width:8% ;
    border: none;
    background: white;;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btns{
    width: 40%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link a{
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
}
.login-btn{
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb
}
.login-btn a{
    color: #2874f0;
}
.more-btn svg{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
/* ------Header section End------ */

/* ------Variety section Start------ */
.variety{
    padding: 1% 0;
}
.variety-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}



.item a {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.variety-image{
    width: 64px;
    margin-bottom: 5%;
}
.item:hover a {
    color: #2874f0;
}

/* ------Variety section End------ */